
<div class="search-div pt-20">
  <button color="primary" mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>new
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-icon class="ml-50" matBadge={{totalNotification}} matBadgeColor="primary">wc</mat-icon>
  <button class="ml-30" (click)="generateExcel()"> Generate Excel</button>
</div>
<!-- <div class="row"> -->
<div class="mat-elevation-z8 pl-10" style="width: 95%; ">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="registrationNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Regi.No</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.registrationNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fullName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="session">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Session</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.session}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="classYearSemester">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Semester</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.classYearSemester}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="roomApprovalStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.roomApprovalStatus}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onViewDetails(row)">
          <mat-icon>reorder</mat-icon>
        </button>
        <button mat-icon-button color="primray" (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>