<mat-toolbar>
  <span>{{seatApplicationService.seatApplicationForm.controls['$key'].value?"Modify Seat Application":"New Seat Application"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="seatApplicationService.seatApplicationForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="450px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
       
        <div mat-content>
          <h4>RegiNo: {{ this.rootService.studentInfo.registrationNumber }}</h4>
          <h4>Name: {{ this.rootService.studentInfo.fullName }}</h4>
          <h4>ClassYear: {{ this.rootService.leaveEmployer.classYearSemester }}</h4>
          <h4 *ngIf="!seatApplicationService.seatApplicationForm.controls['$key'].value">AppliedDate: {{ today | date }}</h4>
  
          <h4 *ngIf="seatApplicationService.seatApplicationForm.controls['$key'].value">AppliedDate: {{ seatApplicationDetails.appliedDate | date }}</h4>
          <h4 *ngIf="seatApplicationService.seatApplicationForm.controls['$key'].value">Status: {{ seatApplicationDetails.roomApprovalStatus}}</h4>
          
        </div>

        <mat-form-field>
          <input formControlName="monthlyIncome" matInput placeholder="Family Monthly Income">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="presentAddress" matInput placeholder="Present Address">
        </mat-form-field>
        <mat-form-field>
          <textarea formControlName="reason" matInput placeholder="Leave a reason"></textarea>
        </mat-form-field>
      
    
    
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="seatApplicationService.seatApplicationForm.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
