<mat-toolbar>
  <span>{{leaveService.leaveApplicationForm.controls['$key'].value?"Modify Leave Application":"New leave Application"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="leaveService.leaveApplicationForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">

        <!-- <div mat-content>
          <h4>EmployeeId: {{ this.rootService.leaveEmployer.employeeId }}</h4>
          <h4>EmployeeName: {{ this.rootService.leaveEmployer.employeeName }}</h4>
          <h4>Designation: {{ this.rootService.leaveEmployer.designation }}</h4>
          <h4 *ngIf="!leaveService.leaveApplicationForm.controls['$key'].value">AppliedDate: {{ today | date }}</h4>
  
          <h4 *ngIf="leaveService.leaveApplicationForm.controls['$key'].value">AppliedDate: {{ leaveDetails.appliedDate | date }}</h4>
          <h4 *ngIf="leaveService.leaveApplicationForm.controls['$key'].value">Status: {{ leaveDetails.approvalStatus}}</h4>
          
        </div> -->
      
    
    
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="leaveService.leaveApplicationForm.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
