<mat-toolbar>
  <span>Leave Details Information</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<div class="container-fluid">
  <div>
    <div class="shadow-sm card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                account_circle
              </i>
              Personal Details</h4>
            <div mat-content>
              <h4>employeeId: {{ leaveDetails.employeeId }}</h4>
              <h4>EmployeeName: {{ leaveDetails.employeeName }}</h4>
              <h4>Designation: {{ leaveDetails.employeeDesignation }}</h4>
              <h4>StartDate: {{ leaveDetails.startDate | date }}</h4>
              <h4>EndDate: {{ leaveDetails.endDate | date}}</h4>
              <h4>Leave Days: {{ leaveDetails.numberOfDays}}</h4>
            </div>
          </div>
          <div class="col-md-6">

            <div mat-dialog-content>
              <h4>Status: {{ leaveDetails.approvalStatus }}</h4>
              <h4>ApprovedBy: {{ leaveDetails.approvedBy  }}</h4>
              <h4>AppliedDate: {{ leaveDetails.appliedDate | date }}</h4>
              <h4>Type: {{ leaveDetails.leaveType }}</h4>
              <h4>Reason: {{ leaveDetails.reason}}</h4>
            </div>


          </div>


        </div>
      </div>

    </div>


  </div>

</div>