<mat-toolbar>
  <span>Asset Details Information</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="container-fluid">



  <div>
    <div class="shadow-sm card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                account_circle
              </i>
              Personal Details</h4>
            <div mat-content>
              <h4>Asset Id: {{ assetDetails.assetId }}</h4>
              <h4>Asset Name: {{ assetDetails.assetName }}</h4>
              <h4>Category: {{ assetDetails.category }}</h4>
              <h4>Condition: {{ assetDetails.condition }}</h4>
              <h4>Location: {{ assetDetails.location }}</h4>
            </div>
          </div>
          <div class="col-md-6">

            <div mat-dialog-content>
              <h4>Purchase Date: {{ assetDetails.dateOfPurchase }}</h4>
              <h4>Price: {{ assetDetails.price  }}</h4>
              <h4>Quantity: {{ assetDetails.quantity }}</h4>
              <h4>About Asset: {{ assetDetails.aboutAsset }}</h4>
            </div>


          </div>


        </div>
      </div>

    </div>


  </div>

</div>