<mat-toolbar>
  <span>{{transactionService.transactionForm.controls['$key'].value?"Modify Transaction":"New Transaction"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="transactionService.transactionForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="transactionId" matInput placeholder="Transaction Id*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-select formControlName="transactionType" placeholder="Transaction Type">
            
            <ng-container *ngFor="let type of transactionTypes">
              <mat-option value="{{type}}">{{type}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="categoryName" placeholder="Select Category" #singleSelect>

            <mat-option *ngFor="let category of categories " (click)="setSubCategories(category.id)"
              value={{category.name}}>
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="subCategoryName" placeholder="Sub-category">
            <ng-container *ngFor="let subCategory of filteredSubCategories | async ">
              <mat-option value="{{subCategory.name}}">{{subCategory.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="checkNo" matInput placeholder="checkNo">

        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="amount" matInput placeholder="Amount">

        </mat-form-field>
        <mat-form-field>
          <input formControlName="dateOfTransaction" matInput [matDatepicker]="picker" placeholder="Transaction Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        
        <mat-form-field>
          <input formControlName="editDate" matInput [matDatepicker]="picker1" placeholder="Edit Date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <textarea formControlName="comment" matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="transactionService.transactionForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>