<mat-toolbar>
  <span>{{roomService.residentialRoomForm.controls['$key'].value?"Modify Room":"New Room"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="roomService.residentialRoomForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="roomNo" matInput placeholder="Room No*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="blockName" placeholder="Block Name">
            <ng-container *ngFor="let block of blocks">
              <mat-option value="{{block.blockName}}">{{block.blockName}}</mat-option>
            </ng-container>
          </mat-select>
  </mat-form-field>
        <mat-form-field>
          <input type="number" formControlName="capacity" matInput placeholder="Room Capacity">
        </mat-form-field>
        <!-- <mat-form-field>
          <input formControlName="responsibleteacherName" matInput placeholder="Responsible teacher">
        </mat-form-field> -->

        <mat-form-field>
          <mat-select formControlName="responsibleTeacherName" placeholder="Responsible Teacher">
            <!-- <mat-option>None</mat-option> -->
            <ng-container *ngFor="let teacher of hallTeachers">
              <mat-option value="{{teacher}}">{{teacher}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="roomService.residentialRoomForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>