<div class="dropzone" 
 dropzone 
 (hovered)="toggleHover($event)" 
 (dropped)="onDrop($event)" 
 [class.hovering]="isHovering">


  <h3>AngularFire Drop Zone</h3>
  <p>Drag and Drop a File</p>
  <p>OR</p>
  
  <div class="file">
    <label class=" ml-130 file-label">
      <input class="file-input" type="file"  (change)="onDrop($event.target.files)">
    </label>
  </div>

</div>
<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
  <div class="form-row">
   <div class="form-group col-md-6">
    <input class="form-control" formControlName="caption" placeholder="Caption">
    <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required.
    </div>
   </div>
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-success btn-block float-right" [disabled]="!selectedFiles">Submit</button>
  </div>
  </div>
</form>

<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:percentage+'%'}">
      {{percentage}}%</div>
  </div>
 <h3 class="ml-40">Uploads</h3>

<div class="ml-40" *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
</div>