<mat-toolbar>
  <span>{{blockService.residentialBlockForm.controls['$key'].value?"Modify Block":"New Block"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="blockService.residentialBlockForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="blockName" matInput placeholder="Block Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="location" matInput placeholder="Location">
        </mat-form-field>
        <mat-form-field>
          <input type="number" formControlName="numberOfRooms" matInput placeholder="Capacity">
        </mat-form-field>
       
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="blockService.residentialBlockForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
