<mat-toolbar>
  <span>{{leaveService.leaveApplicationForm.controls['$key'].value?"Modify Leave Application":"New leave Application"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="leaveService.leaveApplicationForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">

        <mat-form-field>
          <mat-select formControlName="leaveType" placeholder="Leave Type">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let leaveType of leaveTypes">
              <mat-option value="{{leaveType}}">{{leaveType}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <!-- <div class="btn-group"  style="width:50%; margin-left: 25%;"> -->
        <mat-form-field>

          <input formControlName="startDate" placeholder="From Date" [min]="today"  matInput
            [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate" placeholder="To Date" [min]="this.leaveService.leaveApplicationForm.value.startDate" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
          <mat-error>End Date should be greater than Start Date</mat-error>
        </mat-form-field>
        <!-- </div> -->

        <mat-form-field>
          <textarea formControlName="reason" matInput placeholder="Leave a reason"></textarea>
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="leaveService.leaveApplicationForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>