<mat-toolbar>
  <span>Seat Application Details</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<div class="container-fluid">
  <div>
    <div class="shadow-sm card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                account_circle
              </i>
              Personal Details</h4>
            <div mat-content>
              <h4>RegiNo: {{ seatApplicationDetails.registrationNumber }}</h4>
              <h4>EmployeeName: {{ seatApplicationDetails.fullName }}</h4>
              <h4>Session: {{ seatApplicationDetails.session }}</h4>
              <h4>Subject: {{ seatApplicationDetails.subject }}</h4>
              <h4>ClassYear: {{ seatApplicationDetails.classYearSemester }}</h4>
              <h4>CGPA: {{ seatApplicationDetails.cgpa}}</h4>
              <h4>Roll: {{ seatApplicationDetails.roll}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="d-flex align-items-center">
            </h4>
            <div mat-dialog-content>
              <h4>Status: {{ seatApplicationDetails.presentAddress }}</h4>
              <h4>MonthlyIncome: {{ seatApplicationDetails.monthlyIncome}}</h4>
              <h4>ApprovedBy: {{ seatApplicationDetails.roomApprovalStatus}}</h4>
              <h4>RoomNo: {{ seatApplicationDetails.roomNo}}</h4>
              <h4>AppliedDate: {{ seatApplicationDetails.appliedDate | date }}</h4>
              <h4>Reason: {{ seatApplicationDetails.reason}}</h4>
              <h4>ApprovedBy: {{ seatApplicationDetails.approvedBy}}</h4>
            </div>


          </div>


        </div>
      </div>

    </div>


  </div>

</div>