/* You can add global styles to this file, and also import other style files */
@import './styles/corestyle.scss';
@import './styles/fonts.scss';
html,
body {
	height: 100% !important;
	// min-height: 100% !important;
}
body {
	margin: 0;
	font-family: 'Varela Round', "Helvetica Neue", sans-serif;
}

// Theming and typography
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'DIN-Regular');
@include mat-core($custom-typography);

//dropzone
.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    max-width: 90%;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: auto;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
      font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  
//  Customizing input selector mat elements in all places for maintaining consistency
.mat-menu-content {
	padding: 0px !important;
}
.mat-form-field-wrapper {
	padding-bottom: 16px !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}
.mat-icon-for-input {
	padding-bottom: 16px !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.mat-input-for-text {
	padding-bottom: 16px !important;
	margin-top: 12px !important;
	margin-bottom: 4px !important;
}
.mat-form-field {
	width: 100%;
}

.mat-card {
	padding: 0px;
}
.mat-input-element {
	height: 18px !important;
}
.mat-error {
	font-size: 12px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* You can add global styles to this file, and also import other style files */

div.container{
    margin: 0px 40px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
    }

    .add-bottom-padding{
        padding-bottom: 10px;
    }
    /* radio group */
mat-radio-group mat-radio-button{
    margin-left: 5px;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#FF1A35; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#FF1A35;
  background-color:#FF1A35;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(95, 37, 255, 0.26);
}

// check box here

.button-row button{
    margin: 5px;
}

/* notification */
snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
  }


  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
  }

 
  .hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

// 
.badge-leftx{
  margin-left: 50px;
}
/* filter controls */
.search-div{
	margin: 10px;
	
      }
      .search-form-field{
          width: 60%;
		      margin-left: 10px;
          padding: 0px 0px;
          background-color: #f5f5f5;
          border-radius: 10px;
		  }
		  .search-div div.mat-form-field-wrapper{
			 height:33px;
		  }
		  .search-form-field div.mat-form-field-underline {
			bottom: 0em;
		 }
          .search-form-field div.mat-form-field-infix{
			  border-top: 0px;
			 
		  }
		 
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

        /* for dialog pop-up */
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }

   /* mat-confirm-dialog (customised dialog) */
   .confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
height: 50px;
width: 50%;
background-color: #fc7169;
color:white;
border-radius: 0px;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color: #b6bece;
    color:white;
    border-radius: 0px;
}

.confirm-dialog-container span.content-span{
    padding:  35px 16px;
    text-align: center;
    font-size: 20px;
}